In [1]:
import numpy as np
import pandas as pd

# 20. Series - Part One

In [4]:
myindex = ['USA', 'Canada', 'Mexico']

In [5]:
mydata = [1776, 1867, 1821]

In [9]:
myser = pd.Series(data=mydata, index=myindex)

In [14]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [16]:
myser.iloc[0]

1776

In [17]:
myser.loc['USA']

1776

In [18]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [20]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

# Coding Exercise 4: Check-in: Labeled Index in Pandas Series

In [23]:
# TASK: Use pandas to grab the expenses paid by Bob.
# MAKE SURE TO READ THE FULL INSTRUCTIONS ABOVE CAREFULLY, AS THE EVALUATION SCRIPT IS VERY STRICT.
#  Link to Solution: https://gist.github.com/Pierian-Data/3d7f7cb3528f015d9584d04a7168b97f
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

bob_expense = expenses.loc['Bob']
bob_expense

150

# 21. Series - Part Two

In [24]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [26]:
sales_q1 = pd.Series(q1)

In [27]:
sales_q2 = pd.Series(q2)

In [29]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [30]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [34]:
sales_q1['Japan']
sales_q1.iloc[0]

80

In [36]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [38]:
sales_q1.values

array([ 80, 450, 200, 250], dtype=int64)

In [41]:
# [1, 2] * 2
np.array([1, 2]) * 2

array([2, 4])

In [44]:
# sales_q1 * 2
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [46]:
sales_q1 + sales_q2 # NaN is added for the missing values in the series

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [53]:
first_half = sales_q1.add(sales_q2, fill_value=0) # fill_value=0 is used to fill the missing values with 0

In [54]:
sales_q1.dtypes

dtype('int64')

In [55]:
first_half.dtypes

dtype('float64')