In [228]:
import timeit
import numpy as np
import pandas as pd

# 20. Series - Part One

In [122]:
myindex = ['USA', 'Canada', 'Mexico']

In [123]:
mydata = [1776, 1867, 1821]

In [124]:
myser = pd.Series(data=mydata, index=myindex)

In [125]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [126]:
myser.iloc[0]

1776

In [127]:
myser.loc['USA']

1776

In [128]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [129]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

# Coding Exercise 4: Check-in: Labeled Index in Pandas Series

In [130]:
# TASK: Use pandas to grab the expenses paid by Bob.
# MAKE SURE TO READ THE FULL INSTRUCTIONS ABOVE CAREFULLY, AS THE EVALUATION SCRIPT IS VERY STRICT.
#  Link to Solution: https://gist.github.com/Pierian-Data/3d7f7cb3528f015d9584d04a7168b97f
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})

bob_expense = expenses.loc['Bob']
bob_expense

150

# 21. Series - Part Two

In [131]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [132]:
sales_q1 = pd.Series(q1)

In [133]:
sales_q2 = pd.Series(q2)

In [134]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [135]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [136]:
sales_q1['Japan']
sales_q1.iloc[0]

80

In [137]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [138]:
sales_q1.values

array([ 80, 450, 200, 250], dtype=int64)

In [139]:
# [1, 2] * 2
np.array([1, 2]) * 2

array([2, 4])

In [140]:
# sales_q1 * 2
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [141]:
sales_q1 + sales_q2 # NaN is added for the missing values in the series

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [142]:
first_half = sales_q1.add(sales_q2, fill_value=0) # fill_value=0 is used to fill the missing values with 0

In [143]:
sales_q1.dtypes

dtype('int64')

In [144]:
first_half.dtypes

dtype('float64')

# 22. DataFrames - Part One - Creating a DataFrame

In [145]:
np.random.seed(101) # to get the same random numbers
mydata = np.random.randint(0, 101, (4, 3))
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [146]:
myindex = ['CA', 'NY', 'AZ', 'TX']

In [147]:
mycolumns = ['Jan', 'Feb', 'Mar']

In [148]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [150]:
df = pd.read_csv(r'data_frame\tips.csv')
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

# 23. DataFrames - Part Two - Basic Properties

In [151]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [152]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [153]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [154]:
df.tail()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [155]:
df.describe().transpose() # transpose() is used to make the output more readable by switching the rows and columns

,count,mean,std,min,25%,50%,75%,max
total_bill,244.0,1.978594e+01,8.902412e+00,3.070000e+00,1.334750e+01,1.779500e+01,2.412750e+01,5.081000e+01
tip,244.0,2.998279e+00,1.383638e+00,1.000000e+00,2.000000e+00,2.900000e+00,3.562500e+00,1.000000e+01
size,244.0,2.569672e+00,9.510998e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00
price_per_person,244.0,7.888197e+00,2.914234e+00,2.880000e+00,5.800000e+00,7.255000e+00,9.390000e+00,2.027000e+01
CC Number,244.0,2.563496e+15,2.369340e+15,6.040679e+10,3.040731e+13,3.525318e+15,4.553675e+15,6.596454e+15

# 24. DataFrames - Part Three - Working with Columns

# Columns

In [156]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [157]:
df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [158]:
type(df['total_bill'])

pandas.core.series.Series

In [159]:
mycols = ['total_bill', 'tip']
df[mycols]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [160]:
df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [161]:
# df_percentage = df['tip'] / df['total_bill']  * 100
df_percentage = df.apply(lambda row: (row['tip'] / row['total_bill']) * 100, axis=1)
df['tip_percentage'] = df_percentage

In [162]:
df['price_per_person'] = df['size'] / df['total_bill']
# If overate the column name, name will be changed

In [163]:
df['price_per_person'] = df['size'] / df['total_bill']
# If overate the column name, name will be changed

In [164]:
np.round(df['price_per_person'], 2)

0      0.12
1      0.29
2      0.14
3      0.08
4      0.16
       ...
239    0.10
240    0.07
241    0.09
242    0.11
243    0.11
Name: price_per_person, Length: 244, dtype: float64

In [165]:
df['price_per_person'] = np.round(df['price_per_person'], 2)

In [166]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,0.12,Christy Cunningham,3560325168603410,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,0.29,Douglas Tucker,4478071379779230,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221,Sun2251,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842,Sat2657,20.392697
240,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404,Sat1766,7.358352
241,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196,Sat3880,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950,Sat17,9.820426
243,18.78,3.00,Female,No,Thur,Dinner,2,0.11,Michelle Hardin,3511451626698139,Thur672,15.974441

In [167]:
df.drop('tip_percentage', axis=1, inplace=True)
df = df.drop('tip_percentage', axis=1) # This is the same as the above line recommended

KeyError: "['tip_percentage'] not found in axis"

In [168]:
df.shape # axis = 1 is for columns and axis = 0 is for rows because the shape is (rows, columns)

(244, 11)

# 25. DataFrames - Part Four - Working with Rows

In [169]:
df = df.set_index('Payment ID')

In [170]:
df.reset_index()

,Payment ID,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
0,Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,0.12,Christy Cunningham,3560325168603410
1,Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,0.29,Douglas Tucker,4478071379779230
2,Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
3,Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994
4,Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221
...,...,...,...,...,...,...,...,...,...,...,...
239,Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842
240,Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404
241,Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196
242,Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950
243,Thur672,18.78,3.00,Female,No,Thur,Dinner,2,0.11,Michelle Hardin,3511451626698139

In [171]:
df.iloc[0]

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  0.12
Payer Name          Christy Cunningham
CC Number             3560325168603410
Name: Sun2959, dtype: object

In [172]:
df.loc['Sun2959']

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  0.12
Payer Name          Christy Cunningham
CC Number             3560325168603410
Name: Sun2959, dtype: object

In [173]:
df.iloc[1:4]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,0.29,Douglas Tucker,4478071379779230
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994

In [174]:
df.loc[['Sun2959', 'Sun4608']]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,0.12,Christy Cunningham,3560325168603410
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,0.29,Douglas Tucker,4478071379779230

In [175]:
df = df.drop('Sun2959', axis=0)

In [176]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,0.29,Douglas Tucker,4478071379779230
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882

In [177]:
df = df.iloc[1:]

In [178]:
df # select lows is more efficient than drop

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,0.23,Kristopher Johnson,2223727524230344
...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,0.11,Michelle Hardin,3511451626698139

In [179]:
one_row = df.iloc[0]

In [180]:
one_row

total_bill                     21.01
tip                              3.5
sex                             Male
smoker                            No
day                              Sun
time                          Dinner
size                               3
price_per_person                0.14
Payer Name            Travis Walters
CC Number           6011812112971322
Name: Sun4458, dtype: object

In [181]:
# df = df.append(one_row)

# 26. Pandas - Conditional Filtering

In [182]:
df[df['total_bill'] > 40]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sat8139,48.27,6.73,Male,No,Sat,Dinner,4,0.08,Brian Ortiz,6596453823950595
Fri9628,40.17,4.73,Male,Yes,Fri,Dinner,4,0.10,Aaron Bentley,180026611638690
Sat6240,44.30,2.50,Female,Yes,Sat,Dinner,3,0.07,Heather Cohen,379771118886604
Thur3621,41.19,5.00,Male,No,Thur,Lunch,5,0.12,Eric Andrews,4356531761046453
Sun7518,48.17,5.00,Male,No,Sun,Dinner,6,0.12,Ryan Gonzales,3523151482063321
Sat1954,50.81,10.00,Male,Yes,Sat,Dinner,3,0.06,Gregory Clark,5473850968388236
Sun2337,45.35,3.50,Male,Yes,Sun,Dinner,3,0.07,Jose Parsons,4112207559459910
Sun5140,40.55,3.00,Male,Yes,Sun,Dinner,2,0.05,Stephen Cox,3547798222044029
Thur9313,43.11,5.00,Female,Yes,Thur,Lunch,4,0.09,Brooke Soto,5544902205760175
Sat4590,48.33,9.00,Male,No,Sat,Dinner,4,0.08,Alex Williamson,676218815212

In [183]:
df[df['sex'] == 'Male']

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,0.23,Kristopher Johnson,2223727524230344
Sun8157,26.88,3.12,Male,No,Sun,Dinner,4,0.15,Robert Buck,3514785077705092
...,...,...,...,...,...,...,...,...,...,...
Sat5032,12.60,1.00,Male,Yes,Sat,Dinner,2,0.16,Matthew Myers,3543676378973965
Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,0.06,Thomas Brown,4284722681265508
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950

In [184]:
df[df['size'] > 3]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882
Sun8157,26.88,3.12,Male,No,Sun,Dinner,4,0.15,Robert Buck,3514785077705092
Sun6686,35.26,5.00,Female,No,Sun,Dinner,4,0.11,Diane Macias,4577817359320969
Sun2971,18.43,3.00,Male,No,Sun,Dinner,4,0.22,Joshua Jones,6011163105616890
Sat239,39.42,7.58,Male,No,Sat,Dinner,4,0.10,Lance Peterson,3542584061609808
Sat907,17.81,2.34,Male,No,Sat,Dinner,4,0.22,Robert Perkins,30502930499388
Sat4947,18.35,2.50,Male,No,Sat,Dinner,4,0.22,Danny Santiago,630415546013
Sat6649,20.69,2.45,Female,No,Sat,Dinner,4,0.19,Amber Francis,377742985258914
Sun2274,30.40,5.60,Male,No,Sun,Dinner,4,0.13,Todd Cooper,503846761263
Sun9677,32.40,6.00,Male,No,Sun,Dinner,4,0.12,James Barnes,3552002592874186
Sun6165,34.81,5.20,Female,No,Sun,Dinner,4,0.11,Emily Daniel,4291280793094374
Sun9470,25.56,4.34,Male,No,Sun,Dinner,4,0.16,Ronald Owens,6569607991983380
Sat8903,38.01,3.00,Male,Yes,Sat,Dinner,4,0.11,James Christensen DDS,349793629453226
Sat8139,48.27,6.73,Male,No,Sat,Dinner,4,0.08,Brian Ortiz,6596453823950595
Sat4178,18.29,3.76,Male,Yes,Sat,Dinner,4,0.22,Chad Hart,580171498976
Thur4924,27.20,4.00,Male,No,Thur,Lunch,4,0.15,John Davis,30344778738589
Thur7972,34.83,5.17,Female,No,Thur,Lunch,4,0.11,Shawna Cook,6011787464177340
Fri9628,40.17,4.73,Male,Yes,Fri,Dinner,4,0.10,Aaron Bentley,180026611638690
Sun22,29.93,5.07,Male,No,Sun,Dinner,4,0.13,Shawn Blake,4689079711213722
Thur8063,24.08,2.92,Female,No,Thur,Lunch,4,0.17,Melanie Jordan,676212062720
Thur3948,29.80,4.20,Female,No,Thur,Lunch,6,0.20,Angela Sanchez,503857080488
Thur1025,34.30,6.70,Male,No,Thur,Lunch,6,0.17,Steven Carlson,3526515703718508
Thur3621,41.19,5.00,Male,No,Thur,Lunch,5,0.12,Eric Andrews,4356531761046453
Thur6179,27.05,5.00,Female,No,Thur,Lunch,6,0.22,Regina Jones,4311048695487
Sun8670,24.55,2.00,Male,No,Sun,Dinner,4,0.16,Todd Patterson,4416804908942159
Sun5814,19.77,2.00,Male,No,Sun,Dinner,4,0.20,James Smith,213169731428229
Sun9176,29.85,5.14,Female,No,Sun,Dinner,5,0.17,Madison Wilson,4210875236164664
Sun7518,48.17,5.00,Male,No,Sun,Dinner,6,0.12,Ryan Gonzales,3523151482063321
Sun7015,25.00,3.75,Female,No,Sun,Dinner,4,0.16,Laura Robles,213158685144262
Sun1781,16.49,2.00,Male,No,Sun,Dinner,4,0.24,Christopher Soto,30501814271434
Sun245,21.50,3.50,Male,No,Sun,Dinner,4,0.19,Travis Gonzalez,3527668419764685
Sun3719,31.71,4.50,Male,No,Sun,Dinner,4,0.13,Michael Lawson,3566285921227119
Sun7544,34.65,3.68,Male,Yes,Sun,Dinner,4,0.12,James Hebert DDS,676168737648
Sun6059,23.17,6.50,Male,Yes,Sun,Dinner,4,0.17,Dr. Michael James,4718501859162
Sun5842,20.69,5.00,Male,No,Sun,Dinner,5,0.24,Joseph Howell,30362407455623
Sun9987,30.46,2.00,Male,Yes,Sun,Dinner,5,0.16,David Barrett,4792882899700988
Thur9313,43.11,5.00,Female,Yes,Thur,Lunch,4,0.09,Brooke Soto,5544902205760175
Thur2160,20.53,4.00,Male,Yes,Thur,Lunch,4,0.19,Scott Kim,3570611756827620
Sat4505,38.73,3.00,Male,Yes,Sat,Dinner,4,0.10,Ricky Ramirez,347817964484033
Sat6735,25.89,5.16,Male,Yes,Sat,Dinner,4,0.15,Christopher Li,6011962464150569
Sat4590,48.33,9.00,Male,No,Sat,Dinner,4,0.08,Alex Williamson,676218815212
Sat7320,28.15,3.00,Male,Yes,Sat,Dinner,5,0.18,Shawn Barnett PhD,4590982568244
Sat8863,30.14,3.09,Female,Yes,Sat,Dinner,4,0.13,Shelby House,502097403252
Sat4319,20.45,3.00,Male,No,Sat,Dinner,4,0.20,Robert Bradley,213141668145910
Sat7872,24.01,2.00,Male,Yes,Sat,Dinner,4,0.17,Michael Osborne,4258682154026

In [185]:
df[(df['total_bill'] > 30) & (df['sex'] == 'Male')]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sat239,39.42,7.58,Male,No,Sat,Dinner,4,0.10,Lance Peterson,3542584061609808
Sat6373,31.27,5.00,Male,No,Sat,Dinner,3,0.10,Mr. Brandon Berry,6011525851069856
Sun2274,30.40,5.60,Male,No,Sun,Dinner,4,0.13,Todd Cooper,503846761263
Sun9677,32.40,6.00,Male,No,Sun,Dinner,4,0.12,James Barnes,3552002592874186
Sat8903,38.01,3.00,Male,Yes,Sat,Dinner,4,0.11,James Christensen DDS,349793629453226
Sat8139,48.27,6.73,Male,No,Sat,Dinner,4,0.08,Brian Ortiz,6596453823950595
Thur8801,32.68,5.00,Male,Yes,Thur,Lunch,2,0.06,Daniel Murphy,5356177501009133
Fri9628,40.17,4.73,Male,Yes,Fri,Dinner,4,0.10,Aaron Bentley,180026611638690
Sun591,38.07,4.00,Male,No,Sun,Dinner,3,0.08,Jeff Lopez,3572865915176463
Thur1025,34.30,6.70,Male,No,Thur,Lunch,6,0.17,Steven Carlson,3526515703718508
Thur3621,41.19,5.00,Male,No,Thur,Lunch,5,0.12,Eric Andrews,4356531761046453
Sun7518,48.17,5.00,Male,No,Sun,Dinner,6,0.12,Ryan Gonzales,3523151482063321
Sun3719,31.71,4.50,Male,No,Sun,Dinner,4,0.13,Michael Lawson,3566285921227119
Sat1954,50.81,10.00,Male,Yes,Sat,Dinner,3,0.06,Gregory Clark,5473850968388236
Sun9335,31.85,3.18,Male,Yes,Sun,Dinner,2,0.06,Scott Perez,3577115550328507
Sun5109,32.90,3.11,Male,Yes,Sun,Dinner,2,0.06,Nathan Reynolds,370307040837149
Sun9851,34.63,3.55,Male,Yes,Sun,Dinner,2,0.06,Brian Bailey,346656312114848
Sun7544,34.65,3.68,Male,Yes,Sun,Dinner,4,0.12,James Hebert DDS,676168737648
Sun2337,45.35,3.50,Male,Yes,Sun,Dinner,3,0.07,Jose Parsons,4112207559459910
Sun5140,40.55,3.00,Male,Yes,Sun,Dinner,2,0.05,Stephen Cox,3547798222044029
Sun9987,30.46,2.00,Male,Yes,Sun,Dinner,5,0.16,David Barrett,4792882899700988
Sat4505,38.73,3.00,Male,Yes,Sat,Dinner,4,0.10,Ricky Ramirez,347817964484033
Sat8361,30.06,2.00,Male,Yes,Sat,Dinner,3,0.10,Shawn Mendoza,30184049218122
Sat4590,48.33,9.00,Male,No,Sat,Dinner,4,0.08,Alex Williamson,676218815212
Sat2929,32.83,1.17,Male,Yes,Sat,Dinner,2,0.06,Thomas Brown,4284722681265508

In [186]:
df[(df['day'] == 'Sun') | (df['day'] == 'Sat') | (df['day'] == 'Fri')]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,0.23,Kristopher Johnson,2223727524230344
...,...,...,...,...,...,...,...,...,...,...
Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,0.08,Kimberly Crane,676184013727
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950

In [187]:
options = ['Sat', 'Sun', 'Fri']
df[df['day'].isin(options)]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,0.23,Kristopher Johnson,2223727524230344
...,...,...,...,...,...,...,...,...,...,...
Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,0.08,Kimberly Crane,676184013727
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950

# 27. Pandas - Useful Methods - Apply on Single Column

In [202]:
def last_four(number):
  return int(str(number)[-4:])

df['last_four']= df['CC Number'].apply(last_four)
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,last_four
Payment ID,,,,,,,,,,,
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322,1322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994,5994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221,7221
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882,7882
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,0.23,Kristopher Johnson,2223727524230344,344
...,...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842,2842
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404,5404
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196,7196
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950,950
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,0.11,Michelle Hardin,3511451626698139,8139

In [205]:
df['total_bill']

Payment ID
Sun4458    21.01
Sun5260    23.68
Sun2251    24.59
Sun9679    25.29
Sun5985     8.77
           ...
Sat2657    29.03
Sat1766    27.18
Sat3880    22.67
Sat17      17.82
Thur672    18.78
Name: total_bill, Length: 242, dtype: float64

In [206]:
def yelp(price):
  if price < 10: return '$'
  elif 10 <= price <= 30: return '$$'
  else: return '$$$'

In [207]:
df['yelp'] = df['total_bill'].apply(yelp)

In [208]:
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,last_four,yelp
Payment ID,,,,,,,,,,,,
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,0.14,Travis Walters,6011812112971322,1322,$$
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,0.08,Nathaniel Harris,4676137647685994,5994,$$
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,0.16,Tonya Carter,4832732618637221,7221,$$
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,0.16,Erik Smith,213140353657882,7882,$$
Sun5985,8.77,2.00,Male,No,Sun,Dinner,2,0.23,Kristopher Johnson,2223727524230344,344,$
...,...,...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,0.10,Michael Avila,5296068606052842,2842,$$
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,0.07,Monica Sanders,3506806155565404,5404,$$
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,0.09,Keith Wong,6011891618747196,7196,$$
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,0.11,Dennis Dixon,4375220550950,950,$$
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,0.11,Michelle Hardin,3511451626698139,8139,$$

# 28. Pandas - Useful Methods - Apply on Multiple Columns

In [209]:
def simple(number):
  return number *2

In [212]:
# lambda number: number * 2

TypeError: 'function' object is not iterable

In [210]:
simple(2)

4

In [213]:
df['total_bill'].apply(simple)

Payment ID
Sun4458    42.02
Sun5260    47.36
Sun2251    49.18
Sun9679    50.58
Sun5985    17.54
           ...
Sat2657    58.06
Sat1766    54.36
Sat3880    45.34
Sat17      35.64
Thur672    37.56
Name: total_bill, Length: 242, dtype: float64

In [214]:
df['total_bill'].apply(lambda number: number * 2)

Payment ID
Sun4458    42.02
Sun5260    47.36
Sun2251    49.18
Sun9679    50.58
Sun5985    17.54
           ...
Sat2657    58.06
Sat1766    54.36
Sat3880    45.34
Sat17      35.64
Thur672    37.56
Name: total_bill, Length: 242, dtype: float64

In [215]:
def quality(total_bill, tip):
  if tip / total_bill > 0.25: return 'Generous'
  else: return 'Others'

In [216]:
quality(16.99, 1.01)

'Others'

In [221]:
df['quality'] = df[['total_bill', 'tip']].apply(lambda df: quality(df['total_bill'], df['tip']), axis=1)

In [225]:
df['quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])

In [226]:
setup = '''
import numpy as np
import pandas as pd
df = pd.read_csv(r'data_frame\\tips.csv')
def quality(total_bill,tip):
    if tip/total_bill  > 0.25:
        return "Generous"
    else:
        return "Other"
'''

# code snippet whose execution time is to be measured 
stmt_one = ''' 
df['Tip Quality'] = df[['total_bill','tip']].apply(lambda df: quality(df['total_bill'],df['tip']),axis=1)
'''

stmt_two = '''
df['Tip Quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])
'''

In [229]:
timeit.timeit(setup = setup,
              stmt = stmt_one,
              number = 1000)

1.2547048999986146

In [230]:
timeit.timeit(setup = setup,
              stmt = stmt_two,
              number = 1000)

0.17364680000173394

# 29. Pandas - Useful Methods - Statistical Information and Sorting

In [231]:
df = pd.read_csv(r'data_frame\tips.csv')

In [232]:
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

In [236]:
df.sort_values(by=['tip', 'size'], ascending=False)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3542584061609808,Sat239
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3526515703718508,Thur1025
...,...,...,...,...,...,...,...,...,...,...,...
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3543676378973965,Sat5032
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801

In [237]:
df['total_bill'].max()

50.81

In [238]:
df['total_bill'].idxmax()

170

In [239]:
df.loc[170]

total_bill                     50.81
tip                             10.0
sex                             Male
smoker                           Yes
day                              Sat
time                          Dinner
size                               3
price_per_person               16.94
Payer Name             Gregory Clark
CC Number           5473850968388236
Payment ID                   Sat1954
Name: 170, dtype: object

In [240]:
df['total_bill'].min()

3.07

In [241]:
df['total_bill'].idxmin()

67

In [242]:
df.loc[67]

total_bill                      3.07
tip                              1.0
sex                           Female
smoker                           Yes
day                              Sat
time                          Dinner
size                               1
price_per_person                3.07
Payer Name             Tiffany Brock
CC Number           4359488526995267
Payment ID                   Sat3455
Name: 67, dtype: object

In [247]:
numeric_df = df.select_dtypes(include=[np.number])
correlation_matrix = numeric_df.corr()
correlation_matrix

                  total_bill       tip      size  price_per_person  CC Number
total_bill          1.000000  0.675734  0.598315          0.647554   0.104576
tip                 0.675734  1.000000  0.489299          0.347405   0.110857
size                0.598315  0.489299  1.000000         -0.175359  -0.030239
price_per_person    0.647554  0.347405 -0.175359          1.000000   0.135240
CC Number           0.104576  0.110857 -0.030239          0.135240   1.000000

In [253]:
df.select_dtypes(include=[np.number]).corr()

                  total_bill       tip      size  price_per_person  CC Number
total_bill          1.000000  0.675734  0.598315          0.647554   0.104576
tip                 0.675734  1.000000  0.489299          0.347405   0.110857
size                0.598315  0.489299  1.000000         -0.175359  -0.030239
price_per_person    0.647554  0.347405 -0.175359          1.000000   0.135240
CC Number           0.104576  0.110857 -0.030239          0.135240   1.000000

In [254]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [255]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [260]:
df['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [261]:
df['day'].nunique()

4

In [262]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [263]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251

In [265]:
df['sex'].replace(['Female', 'Male'], ['F', 'M'])

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

In [266]:
mymap = {'Female': 'F', 'Male': 'M'}

In [268]:
df['sex'].map(mymap)

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: object

In [271]:
df[df.duplicated()]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size, price_per_person, Payer Name, CC Number, Payment ID]
Index: []

In [272]:
simple_df = pd.DataFrame([1, 2, 2], ['a', 'b', 'c'])

In [274]:
simple_df.duplicated()

a    False
b    False
c     True
dtype: bool

In [275]:
simple_df.drop_duplicates()

   0
a  1
b  2

In [278]:
df['total_bill'].between(10, 20, inclusive='both')

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [279]:
df['total_bill'].between(10, 20, inclusive='neither')

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [280]:
df['total_bill'].between(10, 20, inclusive='left')

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [281]:
df['total_bill'].between(10, 20, inclusive='right')

0       True
1       True
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242     True
243     True
Name: total_bill, Length: 244, dtype: bool

In [282]:
df.nlargest(10, 'total_bill')

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3523151482063321,Sun7518
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4112207559459910,Sun2337
102,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,379771118886604,Sat6240
197,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5544902205760175,Thur9313
142,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4356531761046453,Thur3621
184,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3547798222044029,Sun5140
95,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,180026611638690,Fri9628

In [284]:
df.nsmallest(10, 'total_bill')

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4359488526995267,Sat3455
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3508911676966392,Fri3780
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3559221007826887,Sat4801
172,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,Larry White,30432617123103,Sun9209
149,7.51,2.00,Male,No,Thur,Lunch,2,3.76,Daniel Robbins,4823139288341889,Thur6321
195,7.56,1.44,Male,No,Thur,Lunch,2,3.78,Michael White,4865390263095532,Thur697
218,7.74,1.44,Male,Yes,Sat,Dinner,2,3.87,Nicholas Archer,340517153733524,Sat4772
145,8.35,1.50,Female,No,Thur,Lunch,2,4.18,Amy Young,4285454264477,Thur9331
135,8.51,1.25,Female,No,Thur,Lunch,2,4.26,Rebecca Harris,4320272020376174,Thur6600
126,8.52,1.48,Male,No,Thur,Lunch,2,4.26,Mario Bradshaw,4524404353861811,Thur6719

In [287]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    int64
 10  Payment ID        244 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 88.3 KB

In [292]:
df.sample(n=5) # random sample of 5 rows

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
131,20.27,2.83,Female,No,Thur,Lunch,2,10.14,Ashley Burke,5394652998970066,Thur9005
224,13.42,1.58,Male,Yes,Fri,Lunch,2,6.71,Ronald Vaughn DVM,341503466406403,Fri5959
103,22.42,3.48,Female,Yes,Sat,Dinner,2,11.21,Kathleen Hawkins,348009865484721,Sat1015
17,16.29,3.71,Male,No,Sun,Dinner,3,5.43,John Pittman,6521340257218708,Sun2998
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458

In [293]:
df.sample(frac=0.1) # random sample of 10% of the rows

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
39,31.27,5.00,Male,No,Sat,Dinner,3,10.42,Mr. Brandon Berry,6011525851069856,Sat6373
188,18.15,3.50,Female,Yes,Sun,Dinner,3,6.05,Glenda Wiggins,578329325307,Sun430
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6011787464177340,Thur7972
41,17.46,2.54,Male,No,Sun,Dinner,2,8.73,David Boyer,3536678244278149,Sun9460
9,14.78,3.23,Male,No,Sun,Dinner,2,7.39,Jerome Abbott,3532124519049786,Sun3775
74,14.73,2.20,Female,No,Sat,Dinner,2,7.36,Ashley Harris,501828723483,Sat6548
195,7.56,1.44,Male,No,Thur,Lunch,2,3.78,Michael White,4865390263095532,Thur697
204,20.53,4.00,Male,Yes,Thur,Lunch,4,5.13,Scott Kim,3570611756827620,Thur2160
104,20.92,4.08,Female,No,Sat,Dinner,2,10.46,Gabrielle Frederick,4013010878990106,Sat3194
121,13.42,1.68,Female,No,Thur,Lunch,2,6.71,Laura Garcia,5181484390945653,Thur2158
214,28.17,6.50,Female,Yes,Sat,Dinner,3,9.39,Marissa Jackson,4922302538691962,Sat3374
148,9.78,1.73,Male,No,Thur,Lunch,2,4.89,David Stewart,3578014604116399,Thur7276
18,16.97,3.50,Female,No,Sun,Dinner,3,5.66,Laura Martinez,30422275171379,Sun2789
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
88,24.71,5.85,Male,No,Thur,Lunch,2,12.36,Roger Taylor,4410248629955,Thur9003
52,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4291280793094374,Sun6165
80,19.44,3.00,Male,Yes,Thur,Lunch,2,9.72,Louis Torres,38848369968464,Thur6453
217,11.59,1.50,Male,Yes,Sat,Dinner,2,5.80,Gary Orr,30324521283406,Sat8489
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4112207559459910,Sun2337
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3523151482063321,Sun7518
94,22.75,3.25,Female,No,Fri,Dinner,2,11.38,Jamie Garza,676318332068,Fri2318
100,11.35,2.50,Female,Yes,Fri,Dinner,2,5.68,Lori Lynch,38558279384492,Fri4106
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,Sun5985

# 30. Missing Data - Overview

# 31. Missing Data - Pandas Operations