In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

# 128. Logistic Regression with Scikit-Learn - Part One - EDA

In [4]:
df_path = Path.cwd() / '..' / '..' / 'data' / 'hearing_test.csv'

In [5]:
df = pd.read_csv(df_path)

In [6]:
df

       age  physical_score  test_result
0     33.0            40.7            1
1     50.0            37.2            1
2     52.0            24.7            0
3     56.0            31.0            0
4     35.0            42.9            1
...    ...             ...          ...
4995  73.0             3.9            0
4996  57.0            33.9            1
4997  49.0            34.5            1
4998  38.0            46.4            1
4999  48.0            38.5            1

[5000 rows x 3 columns]